*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}

/* este seria nuestro grid */

.grid__container {
    display: grid;
    grid-template-columns: 1;
    grid-row: 3;
    grid-template-areas:
     "header"
     "main"
     "footer";
}

header {
    
    grid-area: header;
}

main {
    
    grid-area: main;
}

footer {
    
    grid-area: footer;
}





.html{
    
    font-size: 16px;
}
 /* todo esto seria la parte del header ( logo y menu principal */

.title {
    text-align: left;
    padding: 0.9rem;
    color: rgb(185, 185, 185);
    

}

.titulo__logo{
    
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* nuestro logo con su animacion dando vueltas */

.logo__casa{
    width: 25%;
    margin: 5%;
    transform: rotate(360);
    transition: 1s ease-in-out;

   
    
    
   
}
.logo__casa:hover{
    cursor: pointer;
    transform:rotate(360deg) ;
    transition: 2s ease-in-out;
   
   
    

}

.titulos_paginas{
    padding: 0.5rem;
}

/* menu con hover */

.mainTextMen a{
    color: rgb(141, 3, 3);
    text-decoration: none;
    padding: 0.5rem;
    
}


a:hover {
    color: white;
    
    
   
}

.bloqueMenu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(200, 199, 199);
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;

}

.novedades {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    padding: 1.2rem;
    
}
/* bloque de imagenes con hover y cambio de cursor */
.casasVerano {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 3%;
}

.imagenes__casas{
    padding: 0.5%;
    transition: 0.3s ease-in-out;

}

.imagenes__casas:hover{
    transform: scale(1.01,1.01);
    cursor: pointer;
    

}

.des__texto_casas{
    padding-top: 1rem;
}

/* tamñaos de los texto generales */
.loft {
    font-size: 0.8rem;
    
   
    
}

/* parte ventajas de vivier en un loft */

.contenedor__ventajas__loft{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.posicionTextoLoft{
    width: 30vw;
    margin-left: 3%;
    padding-left: 3rem;
    
}

.imagen__loft{
    width: 60vw;
    padding-left: 6rem;
}


.contenedor__ventajas__loft{
    display: flex;
}
/* esta parte corresponde a la pagina de contacto */
 /* imagen de fondo y filtro de la pagina de contacto */
.imagenContacto {
    display: flex;
    justify-content: center;
    background-image:url(../media/imagen_contacto.jpg);
    background-repeat:no-repeat; 
    background-size: 100%;
    width: 80%;
    margin: 1%;
   
    
}

.mainContactoFondo{
    
    background-color: rgba(255, 255, 255, 0.747);
    width: 100%;
    
    
}

.concto__ti{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    
}

.alinear__todo__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mapa__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}


.bloqueContacto {
    display: inline-block;

}

/* aqui se acaba la parte de contacto */

/* footer con menu */
.footerLink {
    margin-top: 0.2rem;
    display: block;

}

.title__footer{
    padding-bottom: 2rem;
}

/* cosas nuevas despues de la primera merentrega */

.videoDispaly {
    display: flex;
    flex-direction: column;
    align-items: center;
    

   
   

}

.textoVideo {
    padding-top: 1rem;
    flex-wrap: nowrap;
    width: 36rem;
    
   
   
}

.servicios {
   
     padding-right: 30%;
     padding-left: 30%;
}


.bloque__comunidad{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.bloque__plantas__texto{
    display: flex;
    flex-direction: column;
    margin-right:  1%;
    align-items: center;
    
}
/* animation */



.texto__plantas {
    margin-bottom: 3rem;
    width: 50vw;
    

}

.bloque__plantas__plantas{
    display: flex;
    align-items: flex-end;
}

.texto__servicios{
    padding-top: 1rem;
}


.main__contacto {
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
    
}
.container__nosotros{
    width: 40%;
    display: flex;
    display: block;
   

    
}

/* imgen pagina nosotros con un pequeño zoom de hover */
.imagen__nosotros:hover {
    transform: scale(1.01,1.01);
    transition: 0.2s;
    

    
}

.imagen__nosotros{
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}


.cabecera__equipo {
    padding-bottom: 1rem;
}

.direccion__oficina {
    padding-top: 1rem;
}


/* medias para dispositivos moviles de 414 x 736 */


@media screen and (max-width:414px){

    .novedades {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 1.1rem;
        padding: 0rem;
        
    }

    .mainTextMen a{

        color: rgb(141, 3, 3);
        text-decoration: none;
        padding: 0.1rem;
        display:block;
       
        
    }


    /* parte comunidad arreglada */
    .bloque__plantas__plantas{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .imagenPlantas2{
        padding-top: 1rem;
    }
    
    .texto__plantas {
        margin-bottom: 0.1rem;
        width: 90vw;
        
    
    }
   
    
    /*
    .media__loft{
        display: flex;
        flex-direction: column;
        
    
    
    
    }
    /*
    .posicionTextoLoft{
        width: 90vw;
        
    }

    .contenedor__ventajas__loft{
        display: flex;
        flex-direction: column;
        padding-right: 30%;
       
    }

    .imagen__loft{
        width:90%;
       
        
       
       
    }
    
*/

/* arreglar la parte de loft en comunidad */
.media__loft{
    display: flex;
    display: block;
    justify-content: center;
    
    
   
}

.contenedor__ventajas__loft{
  
   display: block;
   justify-content: center;
   
    
   
   
   
    
    
}

.imagen__loft{
    justify-content: center;
    width: 100%;
    padding-left: 0;
   
  
    
}

.posicionTextoLoft{
    width: auto;
    margin-left: 0;
    padding-left: 0;
}
.servicios{
        display: flex;
        padding-right: 0%;
        padding-left: 0%;
    
    }
.texto__servicios{
        padding: 0%;
        padding-top: 1%;
    }
.imagen__nosotros{
        position: relative;
        width: 100%;
        height: 80%;
        cursor: none;
        transition: none;
        
    }
.imagen__nosotros:hover {
        transform: none;
        
        
    
        
    }
    
    
.container__nosotros{
        width: 85%;
        display: flex;
        display: block;
       
    
        
    }
.imagenContacto {
        display: flex;
        justify-content: center;
        background-image:url(../media/imagen_contacto.jpg);
        background-repeat:no-repeat; 
        background-size: 400%;
        width: 100%;
        
        margin: 1%;
       
        
    }
.mainContactoFondo{
    
        background-color: rgba(255, 255, 255, 0.747);
       
        height: 100%;
        
        
    }
.mapa{
        width: 95%;
        height: 85%;
        
    }
    
    /* pagina principal inicio. */
.casasVerano {
        display: flex;
        flex-direction: column;
        align-items: center; 
        font-weight: normal;
        
       
       
        
    }
    /* arreglado */
    .imagenes__casas{
       
       display: flex;
       width: 372px;
       height: auto;
    
    }

    .des__texto_casas{
        padding: 2px;
        margin: 20px;
       
    }
    
    .video__movil{
        display: none;
        width: auto;
    }

    /* arreglado */
    .textoVideo{
        
        display: none;
    }
    .loft{
        
        flex-direction: column;
    }

    .pagina__movil__index{
       
        display: none;
        
        

    }
    
    .videoDispaly{
        display: none;
       
    
    
    }
    .video__dispplay__movil{
        display: none;
    }

    hr{
        display: none;
    }
}